body{
    margin: 0;
}

.galeria{
    background-color: rgb(197, 204, 202);
    width: 100%;
    height: 750px;
}

.images{
    text-align: center;
    font-size: xx-large;
    background-color: transparent;
    overflow: auto;
    white-space: nowrap;
    padding-top: 250px;
}

.images img{
    display: inline-block;
}

img:hover {
    opacity: 0.5;
}
